/* General */
* { box-sizing: border-box; }

:root {
  /* Colores para el modo noche, inspirados en TRON */
  --tron-blue: #00BFFF;
  --tron-fuchsia: #FF00FF;
  --tron-cyan: #00FFFF;
  --tron-yellow: #FFFF00;

  --bg-dark: #00021A;
  --bg-medium-dark: #00043A;
  --bg-light-dark: #000650;
  --text-light: #E0F7FA;
  --text-medium: #80D8FF;
  --text-dark: #40C4FF;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: var(--bg-dark);
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--text-light);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--text-medium);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--text-light);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--bg-medium-dark);
  color: var(--text-light);
  border: 1px solid var(--tron-blue);
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--text-medium);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--tron-fuchsia);
  border: none;
  color: var(--bg-dark);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}


/* Shared */
.header-container, .trendingPreview-header, .categoriesPreview-container {
  padding: 0 24px;
}

.trendingPreview-container, .categoriesPreview-container, footer {
  margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
}

.movie-img {
  border-radius: 8px;
  border: 2px solid var(--bg-light-dark);
}

.categoriesPreview-list, .categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}


/* Header */
.header-container {
  padding-top: 40px;
}

.header-container--long {
  background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(180deg, var(--bg-light-dark) 0%, rgba(0, 0, 0, 0) 72.92%);
}

.header-title {
  margin-bottom: 16px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
  color: var(--tron-blue);
}
.header-arrow--white {
  color: var(--text-light);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
    /* El borde se aplica a todo el contenedor */
  border: 1px solid var(--tron-blue);
  background-color: var(--bg-medium-dark);
  border-radius: 8px;
}

.header-searchForm input {
    background-color: transparent;
    color: var(--text-light);
    border: none;
    height: 48px;
    width: 100%;
    padding-left: 16px;
    border-radius: 8px; /* Mantener bordes redondeados en el input */
}
.header-searchForm button {
    width: 56px;
    height: 48px;
    border: none;
    background-color: transparent;
    color: var(--tron-yellow);
}


/* Trending */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
  background-color: var(--bg-light-dark);
  color: var(--text-light);
  border: 1px solid var(--tron-cyan);
}

.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}

/* Estilo para la barra de desplazamiento */
.trendingPreview-movieList::-webkit-scrollbar {
  height: 5px; /* Cambia el grosor de la barra */
}

/* Estilo para el "track" o fondo de la barra de desplazamiento */
.trendingPreview-movieList::-webkit-scrollbar-track {
  background-color: var(--bg-dark); /* Color del fondo de la barra */
  border-radius: 4px;
}

/* Estilo para la "thumb" o la barrita que se mueve */
.trendingPreview-movieList::-webkit-scrollbar-thumb {
  background-color: sandybrown; /* Color de la barra, usa tu color celeste */
  border-radius: 4px; /* Le da bordes redondeados */
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category-container {
  width: 45%;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-light);
}

.category-title::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
#id28 { --idColor: var(--tron-yellow); }
#id12 { --idColor: var(--tron-fuchsia); }
#id16 { --idColor: var(--tron-cyan); }
#id35 { --idColor: var(--tron-blue); }
#id80 { --idColor: var(--tron-fuchsia); }
#id99 { --idColor: var(--tron-cyan); }
#id18 { --idColor: var(--tron-yellow); }
#id10751 { --idColor: var(--tron-blue); }
#id14 { --idColor: var(--tron-fuchsia); }
#id36 { --idColor: var(--tron-cyan); }
#id27 { --idColor: var(--tron-yellow); }
#id10402 { --idColor: var(--tron-blue); }
#id9648 { --idColor: var(--tron-fuchsia); }
#id10749 { --idColor: var(--tron-cyan); }
#id878 { --idColor: var(--tron-yellow); }
#id10770 { --idColor: var(--tron-blue); }
#id53 { --idColor: var(--tron-fuchsia); }
#id10752 { --idColor: var(--tron-cyan); }
#id37 { --idColor: var(--tron-yellow); }


/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .movie-img {
  width: 100%;
}


/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--bg-medium-dark);
  border-top: 2px solid var(--tron-blue);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
  color: var(--tron-cyan);
}
.movieDetail-score::before {
  content: '★';
  color: var(--tron-yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
  color: var(--text-medium);
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}


/* Footer */
footer {
  background-color: var(--bg-medium-dark);
  color: var(--text-medium);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navigation */
.inactive {
  display: none;
}